.page-header{
    min-height: 15vh;
    padding-top: 10px;
    padding-left: 5px;

    h1{
        float: left;
        max-width: 80%;
        font-size: 7vmin;
    }

    small{
        font-size: 3vmin;
    }

    img{
        float: left;
    }
}

.pointer-btn {
    cursor: pointer
}

#add-btn, #delete-all-btn{
    margin: 10px;
}

.todo-list-content{
    min-height: 60vh;
    margin: 10px;
}

.todo-list-entry{
    min-height: 8vh;
    word-break: break-all;
    border: 3px solid black !important;
    margin-bottom: 10px;
    //
    -moz-border-radius: 0px 10px 10px 10px;
    -webkit-border-radius: 0px 10px 10px 10px;
    -khtml-border-radius: 0px 10px 10px 10px;
    border-radius: 0px 10px 10px 10px;
    //
    .todo{
        border-left: 3px solid black;
    }

    .col-xs-1,.col-xs-8{
        padding: 5px;
        min-height: 8vh;
    }

    .col-xs-1{
        vertical-align: middle;
        text-align: center;
    }

    .col-xs-1 .chkbox{
        margin-top: 15px;
        margin-left: 10px;
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -o-transform: scale(1.5);
    }

    @media (max-width: 520px){
        .col-xs-1 .chkbox{
            margin-top: 10px;
            margin-left: 0px;
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
            -o-transform: scale(1);
        }
    }

    .col-xs-1 img{
        height: 5vmin;
    }

    .checked{
        text-decoration: line-through;
    }

    .border-left{
        border-left: 3px solid black;
    }
    
    .move-down{
        border-left: 3px solid black;
    }

    .move-down, .move-up, .delete{
        display: none;
    }

}

.todo-list-entry:hover{
    -webkit-box-shadow: 0px 5px 5px 0px #444;
    -moz-box-shadow: 0px 5px 5px 0px #444;
    box-shadow: 0px 5px 5px 0px #444;
}
/******************************************************************************/

.footer-height-md{
    min-height: 30vh;
    background-color: @footer-background-color;
}

.footer-height-sm{
    margin-top: 20px;
    min-height: 20vh;
    background-color:@footer-background-color;
}

/******************************************************************************/

@media (max-width:@MD){

}

@media (max-width:@XS){

}












