.page-header{
    min-height: 15vh;
    padding-top: 10px;
    padding-left: 5px;
}

.page-header h1{
    float: left;
    width: 80%;
}

.page-header img{
    float: left;
}

.todo-list-content{
    min-height: 60vh;
}

.todo-list-entry{
    min-height: 8vh;
    height: 1px;
    word-break: break-all;
    border: 3px solid black !important;
    margin-bottom: 10px;
    //
    -moz-border-radius: 0px 10px 10px 10px;
    -webkit-border-radius: 0px 10px 10px 10px;
    -khtml-border-radius: 0px 10px 10px 10px;
    border-radius: 0px 10px 10px 10px;
    //

    .col-sm-8{
        border-right: 3px solid black;
        border-left: 3px solid black;
    }

    .col-sm-1,.col-sm-8{
        padding: 5px;
        height: 100%;
    }

    .col-sm-1{
        vertical-align: middle;
        text-align: center;
    }

    .col-sm-1 .chkbox{
        margin-top: 15px;
        vertical-align: middle;
        text-align: center;
        -moz-transform: scale(2);  
        -webkit-transform: scale(2);  
        -o-transform: scale(2);  
    }

    .col-sm-1 img{
        height: 90%;
    }

    .checked{
        text-decoration: line-through;
    }
    
    .border-left{
        border-left: 3px solid black;
    }
}

.todo-list-entry:hover{
    -webkit-box-shadow: 0px 5px 5px 0px #444;
    -moz-box-shadow: 0px 5px 5px 0px #444;
    box-shadow: 0px 5px 5px 0px #444;
}
/******************************************************************************/

.footer-height-md{
    min-height: 30vh;
    background-color: @footer-background-color;
}

.footer-height-sm{
    margin-top: 20px;
    min-height: 20vh;
    background-color:@footer-background-color;
}

/******************************************************************************/

@media (max-width:@MD){

}

@media (max-width:@XS){

}












